@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* Colors primary */
    --Red: hsl(0, 100%, 74%);
    --Green-Light: hsl(154, 59%, 51%);
    --Green: hsl(154, 59%, 45%);
    --Green-Dark: hsl(154, 59%, 40%);
    /* Colors accent */
    --Purple: hsl(248, 32%, 49%);
    /* Colors neutral */
    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);
    --White: hsl(0, 0%, 100%);
}

body{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 1.5rem;
    background: var(--Red) url(./images/bg-intro-mobile.png) center;
}

header{
    display: grid;
    gap: 1rem;
    margin: 20% auto;
    width: 90%;
}

header, footer a{
    color: var(--White);
}

header,form p,footer{
    text-align: center;
}

a{
    text-decoration: none;
}

.card{
    display: grid;
    place-content: center;
    padding: 1rem;
    background-color: var(--Purple);
    border-radius: 7px;
    box-shadow: 0px 8px 0px rgb(0 0 0 / 15%);
}

.card p{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: var(--White);
}

form{
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
    background-color: var(--White);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgb(0 0 0 / 15%);
}

fieldset{
    position: relative;
}

fieldset,button,input{
    border: none;
}

fieldset input::placeholder{
    color: var(--Dark-Blue);
    font-weight: 700;
    opacity: .8;
}

fieldset img{
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
}

input{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    border: 1px solid var(--Grayish-Blue);
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
}

input:focus{
    transition: all .5s;
    border: 1px solid var(--Purple);
}

input.error{
    border: 2px solid var(--Red);
}

span.error{
    color: var(--Red);
    margin: 1rem 0;
    font-size: .8rem;
}

form button{
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    outline: none;
    background-color: var(--Green);
    color: var(--White);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 5px 0 var(--Green-Dark);
    transition: all .3s;
    transform-style: preserve-3d;
}

form button:active{
    transform: translate3d(0, .5em, -1em);
    box-shadow: none;
    opacity: .7;
}

form p{
    color: var(--Grayish-Blue);
}

form p b{
    color: var(--Red);
}

@media (min-width: 820px){
    body{
        display: flex;
        height: 100vh;
    }

    .card{
        display: flex;
        justify-content: center;
    }

    header{
        width: 30%;
        text-align: left;
    }

    footer{
        position: fixed;
        bottom: 0;
    }
}